.App {
	width: 50%;
	margin: 20vh auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	}

.formWrapper {
	display: flex;
	flex-direction: column;
	padding: 20px;
	}

.inputWrapper {
	display: flex;
	flex-direction: column;
	padding: 10px;
	}

.inputWrapper .firstPayWrapper div:hover{
	transform: scale(1.1);
	transition-property: transform;
	transition-duration: 0.2s;
	}

.buttonWrapper {
	display: flex;
	padding: 10px;
	justify-content: space-between;
	height: 35px;
	}

.buttonWrapper button {
	width: 48%;
	border-radius: 5px;
	/*outline: none;*/
	}

.buttonWrapper button:hover {
	transform: scale(1.1);
	transition-property: transform;
	transition-duration: 0.2s;
	}

.saveButton {
	background-color: green;
	color: white;
	}

.infoWrapper {
	padding: 20px;
	margin-top: 40px;
	background-color: #c3c1c1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: fit-content(50px);
	gap: 20px;
	height: fit-content;
	border-radius: 5px;
	}

.firstPayWrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	}

.firstPayCurrent {
	border: 1px solid black;
	border-radius: 3px;
	background-color: blue;
	color: white;
	font-size: 14px;
	padding: 3px;
	}

.firstPay {
	border: 1px solid black;
	border-radius: 3px;
	font-size: 14px;
	padding: 3px;
	}

.input {
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px 10px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	}

.input input {
	border: none;
	width: 60%;
	outline: none;
	}